services:
  plex:
    container_name: plex
    image: lscr.io/linuxserver/plex:latest
    restart: unless-stopped

    network_mode: host

    environment:
      - PUID=2000
      - PGID=3000
      - TZ=America/Los_Angeles
      - VERSION=docker
      - PLEX_CLAIM= #optional

    volumes:
      - /var/lib/services/plex:/config
      - /mnt/vault/media/shows:/tv
      - /mnt/vault/media/movies:/movies
      - /mnt/vault/media/anime:/anime
